# Required
BOT_TOKEN = "7935339523:AAE33JlhBFLRuwqcJu4GGA16Hp7hx1_m7ps"
API_HASH = "214100c128f8cfa17c7d96bb70d3f4e2"
API_ID = "16618598"
AUTH_CHATS = "-1002437564661" # Separate multiple ids by space and : for topic_ids

# Optional
AUTO_BYPASS = "True"
OWNER_ID = "1761987754" # For personal use & Logs
LARAVEL_SESSION = ""
XSRF_TOKEN = ""
GDTOT_CRYPT = ""
HUBDRIVE_CRYPT = ""
DRIVEFIRE_CRYPT = ""
KATDRIVE_CRYPT = ""
DIRECT_INDEX = ""
TERA_COOKIE = ""

# Update
UPSTREAM_REPO = "https://github.com/SilentDemonSD/FZBypassBot"
UPSTREAM_BRANCH = "main"
